@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');

body {
  font-family: "Vazirmatn", sans-serif;
  font-optical-sizing: auto;
}

pre, code {
  font-family: "JetBrains Mono", monospace !important;
}